/*====================================
共通のスタイル　/兼PCサイズ
======================================*/
    body{
        font-size: 0.9em;
        background: #fcfcfc;
    }


    header{
        text-align: center;
        padding-top: 10px;
        height: 40px;
        width:auto;
        margin: 0px;
        background-color: #494949;
    }

    header ul {
        width: 1000px;
        margin: 0 auto;
    }

    header ul li {
        display: inline;
    }

    header ul .head_left {
        float: left;
    }
    .mypage{margin-left: 30px;}
    .shop_name{margin: 0 30px; color: #fff;}

    header ul .head_right {
        float: right;
    }
    .touroku{margin-right: 30px;}
    .kaikei{margin-right: 30px;}

    .toggle {
        display: none;
    }


     /*
    ============================

       //////
       //   //               //        //
       //  //             //////// /////////               //
       /////    //   //      //        //      ////////    ////////   ///////  ///////  //////
       //  //   //   //      //        //     //      //   //    //  //        //       //
       //   //  //   //      //        //     //      //   //    //  //          /////   /////
       //////    //////      //        //      ////////    //    //   ///////  //////  //////


    ============================
    */

    .men, .women {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        color: #ffffff;
        padding: 10px 20px;
        -moz-border-radius: 0px;
        -webkit-border-radius: 0px;
        border-radius: 0px;
    }
    button.regi, input[type="button"].regi, button.button_item, input[type="button"].button_item, button.category_touroku, input[type="button"].category_touroku{
        -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5), inset 0px 0px 2px rgba(255, 255, 255, 0.7);
        -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5), inset 0px 0px 2px rgba(255, 255, 255, 0.7);
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5), inset 0px 0px 2px rgba(255, 255, 255, 0.7);
        text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4), 0px 1px 0px rgba(255, 255, 255, 0.3);
        background: -moz-linear-gradient(top, #5c96fa 0%, #149cdb);
        background: -webkit-gradient(linear, left top, left bottom, from(#5c96fa), to(#149cdb));
        border: 1px solid #ffffff;
    }
    button.men, input[type="button"].men {
        -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5), inset 0px 0px 2px rgba(0, 51, 255, 0.7);
        -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5), inset 0px 0px 2px rgba(0, 51, 255, 0.7);
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5), inset 0px 0px 2px rgba(0, 51, 255, 0.7);
        text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4), 0px 1px 0px rgba(255, 255, 255, 0.3);
        background: -moz-linear-gradient(top, #19afff 0%, #0e9ec2);
        background: -webkit-gradient(linear, left top, left bottom, from(#19afff), to(#0e9ec2));
        border: 1px solid #ffffff;
    }
    button.women, input[type="button"].women {
        -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5), inset 0px 0px 2px rgba(255, 255, 255, 0.7);
        -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5), inset 0px 0px 2px rgba(255, 255, 255, 0.7);
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5), inset 0px 0px 2px rgba(255, 255, 255, 0.7);
        text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4), 0px 1px 0px rgba(255, 255, 255, 0.3);
        background: -moz-linear-gradient(top, #fa1e31 0%, #f71b1b);
        background: -webkit-gradient(linear, left top, left bottom, from(#fa1e31), to(#f71b1b));
        border: 1px solid #f71125;
    }

    .btn {
        font-size: 14px;
        color: #ffffff;
        padding: 5px 20px;
        background: -moz-linear-gradient(
        top,
        #79abf2 0%,
        #6690cc);
        background: -webkit-gradient(
        linear, left top, left bottom,
        from(#79abf2),
        to(#6690cc));
        border-top: solid 1px #9bc1f5;
        border-left: solid 1px #86b0ea;
        border-bottom: solid 1px #496691;
        border-right: solid 1px #5f86be;
    }

    
.btn2 {
	-moz-box-shadow:inset 0px 1px 0px 0px #dcecfb;
	-webkit-box-shadow:inset 0px 1px 0px 0px #dcecfb;
	box-shadow:inset 0px 1px 0px 0px #dcecfb;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #db4444), color-stop(1, #e03d7e) );
	background:-moz-linear-gradient( center top, #db4444 5%, #e03d7e 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#db4444', endColorstr='#e03d7e');
	background-color:#db4444;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
text-indent:0px;
	border:1px solid #cc4343;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
height:40px;
	line-height:40px;
width:93px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #e61054;
}
.btn2:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e03d7e), color-stop(1, #db4444) );
	background:-moz-linear-gradient( center top, #e03d7e 5%, #db4444 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e03d7e', endColorstr='#db4444');
	background-color:#e03d7e;
}
.btn2:active {
	position:relative;
	top:1px;
}
.left_container div.divButtonOff {
  padding: 10px;
  background: #a9a9a9;
  width: 350px;
  margin-top: 5px;
  margin-left: 5px;
}
.left_container div.divButtonOff span {
  font: 15px;
}
.left_container div.divButtonOff span.id {
  margin-left: -5px;
}
.left_container div.divButtonOff span.name {
  margin-left: 20px;
}
.left_container div.divButtonOff span.price {
  margin-left: 100px;
}
.left_container div.divButtonOff span.number {
  margin-left: 30px;
}
.left_container div.divButtonOff span.money {
  margin-left: 15px;
}
.right_container div.divButtonOn {
  padding: 10px;
  background: lightskyblue;
  width: 450px;
  margin-left: 5px;
  margin-top: 5px;
}
.right_container div.divButtonOn span {
  font: 15px;
}
.right_container div.divButtonOn span.id {
  margin-left: -5px;
}
.right_container div.divButtonOn span.name {
  margin-left: 20px;
}
.right_container div.divButtonOn span.price {
  margin-left: 100px;
}
.right_container div.divButtonOn span.number {
  margin-left: 30px;
}
.right_container div.divButtonOn span.money {
  margin-left: 15px;
}




/*
=============================================
ここまでヘッダーｃｓｓ
=============================================
*/
    .all_container{
        width: 1000px;
        margin: 0 auto 0 auto;
    }


    .left_container{
        height:auto;
        width:400px;
        float:left;
    }

    .left_category{
        margin: 10px 0 5px 0;

    }

    .left_id{
        display: inline;
        margin-left: 5%;
    }

    .left_item_name{
        display: inline;
        margin-left: 5%;
    }

    .left_yen{
        display: inline;
        margin-left: 30%;
    }

    .left_contents{
        height:350px;
        width:400px;
        border:1px solid black;
        overflow: scroll;
        text-align: center;
        background: #fff;
    }

    .item{
        height: 20px;
        width: 280px;
    }

    .sell{
        width: 400px;
        height: 180px;
        margin: 20px 0;
		border: 2px solid black;
    }
	.sell li{
		font-size: 120%;
	}
    /*
    ここまで左側コンテンツ
    */


 .right_container{
        height:auto;
        width:500px;
        margin-top: 37px;
        float:right;
    }

    .right_id{
        display: inline;
        margin-left: 5%;
    }

    .right_item_name{
        display: inline;
        padding-left: 5%;
    }

    .right_yen{
        display: inline;
        padding-left: 20%;
    }

    .right_number{
        display: inline;
        padding-left: 10%;
    }

    .right_total_yen{
        display: inline;
        padding-left: 10%;
    }

    .right_contents{
        height:250px;
        width:500px;
        float: right;
        border:1px solid black;
        overflow: scroll;
        text-align: center;
        margin-bottom: 20px;
        background: #fff;
    }

    .option ul{
        padding-top: 20px;
        width: 500px;
        margin: 0 auto;
    }
    .option ul li{
        display: inline;
        margin: 0 25px;
    }

    .ticket{
        margin: 20px 0 10px 0;
        width: 500px;
    }
    .ticket_sentaku{
        width: 300px;
        margin: 0 30px 0 70px;
    }

    .total, .take_pay, .exchange, .decide{
        font-size: 150%;
        font-weight: bold;
        width:500px;
        margin-top: 10px;
    }

    .total_item{
        float: left;
    }
    .total_yen{
        float: right;
    }

    .take_pay p ,.exchange p{
        clear: both;
        width : 100px;
        float: left;
    }
    

    .pay_text, .exchange_text{
        width: 350px;
        height: 33px;
        font-size: 100%;
        float: right;
    }
    .decide{
        clear: both;
    }
    .decide_women{
        margin-top: 5px;
    }
    

/*=============================================
    マイページ
===============================================*/
    .login_container{
        text-align: center;
        width: 100%;
        font-size: 0.9em;
    }
    .link{
        text-align: center;
        margin: 50px 0;
    }
    .link ul li{
        display: inline;
        margin: 0 30px;
    }
    .link ul li input{
        padding: 20px 30px;
    }
    .login_settei{
        width: 100%;
    }
    .login_function2{
        border:1px solid black;
        width:300px;
        margin: 0 auto;
        padding: 20px;
    }

/*========================================
売上詳細画面
==========================================*/

    .sales_container, .cost_container, .sales_container2{
        width:auto;
        margin-top: 30px;
    }
    .sales_big, .cost_table{
        width: 900px;
        table-layout: auto;
        margin:0 auto;
        border: 3px solid black;
        margin-top: 30px;
        
    }
    .sales1, .sales2, .cost_tr{
        width: 900px;
        height: 50px;
        border-bottom: 1px solid black;
    }
    thead{
        border-bottom: 3px solid black;
    }
    th td{
        display: inline-block;
    }
    .sales_day, .sales_day1{
        width: 50px;
        height: 30px;
        border-right: 3px double black;
        text-align: center;
        padding-top: 10px;
    }
    .sales_time, .sales_time1{
        width: 140px;
        height: 30px;
        border-right: 1px solid black;
        padding-top: 10px;
        padding-left: 10px;
    }
    .sales_yen{
        width: 140px;
        height: 30px;
        border-right: 3px double black;
        padding-top: 10px;
        padding-left: 10px;
    }
    .sales_other_big, .sales_customer, .sales_other_small{
        width: 69px;
        height: 30px;
        border-right: 1px solid black;
        padding-top: 10px;
        text-align: center;
    }
    
     .sales_container2{
        display: none;
    }
     
    
    .sales_other_last{
        width: 71px;
        height: 30px;
        padding-top: 10px;
        text-align: center;
    }
    .sales_all, .sales_all2, .sales_all3, .sales_all4, .sales_other{
        height: 50px;
        padding-left: 10px;
    }
    .sales_all3, .sales_other{
        border-right: 1px solid black;
    }
    .sales_all2, .sales_all{
        border-right: 3px double black;
    }
    tfoot{
        border-top: 3px solid black;
    }
    .cost_name, .cost_yen{
        width: 200px;
        height: 30px;
        border-right: 1px solid black;
        padding-top: 10px;
        padding-left: 10px;
    }
    .line3{
        width:810px;
    }
	.line4{
		width: 870px;
	}
	.line5{
		width: 800px;
	}


/*==============================================
    商品登録画面
================================================*/
    .touroku_container{
            width:auto;
            margin: 0 auto;
            padding-top: 3%;
        }
        .line, .line2{
            width:830px;
            color:black;
        }
        table{
            margin: 0 auto;
        }
        .touroku_head, .which, .touroku_item{
            text-align: center;
        }
         .new_category, .new_category2, .new_category3, .category_touroku, .category_touroku2, .cancel, .ok, .touroku_1_1, .touroku_1_2, .touroku_1_3, .touroku_1_4, .touroku_item_1, .touroku_item_2, .touroku_item_3, .touroku_item_4, .touroku_item_5,  .touroku_2_1, .touroku_2_2, .touroku_3_1, .touroku_3_2{
            display: inline-block;
        }

        .new_category4{
            width: auto;
        }
        .touroku_head{
            padding-top: 3%;
            margin-bottom: 10px;
        }
        .touroku_table, .which, .shuppi_table{
            padding-top: 2%;
        }
        .touroku_1{
            width: 768px;
            margin: 0 auto;
        }
        .new_category{
            margin-top: 5px;
        }
        .touroku_1_1{
            margin-left: 51px;
        }
        .touroku_1_2{
            margin-left:  150px;
        }
        .touroku_1_3{
            margin-left:  110px;
        }
        .touroku_1_4{
            margin-left:  10px;
        }
        .touroku_2_1{
            margin-left: 174px;
        }
        .touroku_2_2{
            margin-left: 150px;
        }
        .touroku_3_1{
            margin-left: 174px;
        }
        .touroku_3_2{
            margin-left: 150px;
        }
		.touroku_4_1{
			margin-left: 320px;
		}
        .touroku_body{
            margin-top: 10px;
        }
        .touroku_item{
            margin-top: 10px;
        }
		.category_name{
			margin-left: 240px;
		}

@charaset "utf-8";
/*==================================
 一部タブレット縦向け、スマートフォン横向けのスタイル
====================================*/
@media only screen and (max-width:800px){
    body{
        font-size: 0.9em;
    }

    .head_right,.head_left{
        display: none;
    }
    .toggle{
        display: block;
        margin:0 30px;
        position: relative;
    }
    .t_left{
        float: left;
    }
    .t_right{
        float: right;
    }

    /*
    =============================================
    ここまでヘッダーｃｓｓ
    =============================================
    */
	.sell{
		width: 100px;
	}
    /*ここまで会計ページCSS*/
    .link ul li{
        display: block;
        width: 90%;
        margin: 20px auto;
    }
    .link ul li input{
        width: 80%;
    }
	.left_container div .divButtonOff,.right_container div.divButtonOn{
		width:auto;
	}
/*==============================================
    売上詳細
================================================*/
    td th{
        display: inline-block;
    }
    .sales_big, .cost_table{
        width: 700px;
    }
    .sales_container{
        display: none;
    }
    .sales_container2{
        display: block;
    }
    .line, .line2{
        width: 650px; 
    }
    .line3{
        width: 630px;
    }
	.line4{
		width: 670px;
	}
	.line5{
		width: 600px;
	}

}
/*
=====================================
小さ目タブレット横向けのスタイル
=====================================
*/
@media only screen and (max-width:1010px){
body{
        font-size: 0.9em;
    }

    header ul {width: auto;}

    /*
    =============================================
    ここまでヘッダーｃｓｓ
    =============================================
    */

    .all_container {
        width: 90%;
        margin: 0 auto;
        position: relative;
    }

    .left_id{
        display: inline;
        margin-left: 5%;
    }

    .left_item_name{
        display: inline;
        margin-left: 5%;
    }

    .left_yen{
        display: inline;
        margin-left: 30%;
    }

    .left_container{
        height:auto;
        width:100%;
    }
    .left_contents{
        height:300px;
        width:100%;
        margin: 0 auto;
    }
    .item{
        height: 20px;
        width: 280px;
    }

    .sell{
        position: absolute;
        top: 750px;
        width: 45%;
		border: none;
    }
	.sell li{
		font-size: 100%;
	}
	
    /*
    ここまで左側コンテンツ
    */

    .right_container{
        height:auto;
        width:100%;
        margin-top: 20px;
    }

    .right_contents{
        height:300px;
        width:100%;
        margin: 0 auto 20px;
    }

    .ticket,.sell{
        width: 50%;
        float: left;
    }
    .ticket_sentaku{
        width: 70%;
        margin: 0 5%;
    }


    .total{
        width: 50%;
        float: right;
        margin-top: 15px;
    }
    .total_item{
        float: left;
        width: 40%;
    }
    .total_yen{
        float: right;
        width: 50%;
    }

    .take_pay, .exchange{
        width: 50%;
        float: right;
        margin-bottom: 30px;
        clear: both;
    }
    .take_pay p, exchange p{
        width: 40%;
        float: left;
    }
    .pay_text, .exchange_text{
        width: 50%;
        float: right;
    }
    .decide{
        float: right;
    }

    
    /*ここまで会計ページCSS*/
}
/*===========================================
 小さ目タブレット縦向けのレイアウト
============================================*/
@media only screen and (max-width:600px){
    .sales_big, .cost_table{
        width: 550px;
    }
    .line, .line2{
        width:500px;
    }
    .line3{
        width: 480px;
    }
   
｝